* {
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* hiding elements */

[hidden] {
  display: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

/* mouse prevention */

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.no-mouse {
  pointer-events: none;
}

/* flexbox */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* grid */

.grid-center {
  display: grid;
  place-content: center;
}
